h1 {
  color: rgb(230, 214, 214);
  text-align: center;
  background: #1f76e9;
}
.mb-3{
  text-align: left;
  text-indent: 10px;
  line-height: 40px;
}
form{
  text-align: justify;
  background-color:rgb(211, 214, 247);
}
body{
  background-color: rgb(255, 249, 249);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}
label {
  text-align: left;
}
.form-control{
  border-radius: 5px;
  outline: none;
  border: 1px solid #1f76e9;
  background-color: rgb(170, 186, 230);
  font-size: 100%;
  width: 500px;
  height: 30px;
  vertical-align: middle;
  text-align: left;
  line-height: 20px;
}
.btn{
  display: inline-block;
  border-radius: 4px;
  background-color: #1f76e9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px
}
.text{
  color: #1f76e9;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}